

.signUpGroup {
    margin: 0 auto;
    width: 420px;
    height:400px;
}

.inputError{
    border-color:red;
}

.head{
    margin:0 0 15px 0;
}

.btnDown{ margin:0 auto; width: 420px; overflow: auto}